<div *ngIf="logged == false" align = "center">
  <h2>Dobrodosli!</h2><br><h2><i>Kako bise mogli videti naprednije funkcije sajta ulogujte se ili se registrujte</i></h2>
</div>

<div *ngIf="logged == true" align = "center">
 <h2> Dobrodosli <i><b>{{username}}!</b></i> </h2>

</div> 

<div *ngIf = "istorija.length === 0"  align = "center">
<h3>Istorija poseta je prazna</h3>
</div>

<div *ngIf = "istorija.length > 0"  align = "center">
  <br><br>
 <table border="1">
   <tr align = "center" >
     <th colspan = "2" align = "center">
       Istorija poseta
     </th>
   </tr>
   <tr *ngFor = "let poseta of istorija" align = "center">
     <td>
        <a routerLink="/shows/{{poseta.type}}/{{poseta.id}}">{{poseta.name}}</a>
      
     </td>
     <td>
        <a [routerLink]="" (click)="removeFromHistoy(poseta.id)">[x] </a>
     </td>
   </tr>

 </table>
 </div>
