
<div align = "center">
  <h1>Promena email adrese</h1>
</div>
<br>
<form name="emailChangeForm" #f="ngForm"  novalidate>
<div align = "center"  style="padding-top: 25px;">
  <table>
    <tr>
      <td align = "top"><h3>Unesi novu email adresu &nbsp;&nbsp; </h3></td>    
      <td align><input type="text" class="form-control" name="newEmail"
         [(ngModel)]="model.newEmail" #newEmail="ngModel" required/></td> 
     </tr>
     <tr >
       <td align = "center" colspan="2">
         <button class="btn btn-primary" (click)="changeEmail()" [disabled] = "!newEmail.valid">
           Izmeni</button></td>
     </tr>
</table>
</div>
</form>