
<div align = "center">
  <h2>Izmena filma</h2>

  <form #form="ngForm" (ngSubmit)="sendData()">
    <table>
      <tr>
        <td><label>Naziv filma: </label> </td>
        <td><input type="text" name="name" [(ngModel)]="movieModel.name" required minlength="3"/> </td>
      </tr>
      <tr>
        <td><label>Zanr: </label> </td>
        <td><input type="text" name="genre" [(ngModel)]="movieModel.genre" required/></td>
      </tr>
      <tr>
        <td><label>Glumci: </label> </td>
        <td><input type="text" name="actors" [(ngModel)]="movieModel.actors" required/></td>
      </tr>
      <tr>
        <td><label>Reditelj: </label> </td>
        <td><input type="text" name="director" [(ngModel)]="movieModel.director"/> </td>
      </tr>
      <tr>
        <td><label>Trajanje(HH:mm): </label> </td>
        <td><input type="text" name="duration" [(ngModel)]="movieModel.duration" required pattern="(0[0-9]):[0-5][0-9]"/> </td>
      </tr>
      <tr>
        <td><label>Opis: </label> </td>
        <td><textarea type="text" name="description" [(ngModel)]="movieModel.description">  </textarea></td>
      </tr>
      <tr>
        <td><label>Url slike: </label> </td>
        <td><input type="text" name="imageUrl" [(ngModel)]="movieModel.imageUrl"/> </td>
      </tr>

     <tr> <td colspan = "2"><button type="submit" class="btn btn success" [disabled]="form.invalid"> Izmeni film </button></td></tr>

    </table>
  </form>
</div>