<div class="container-fluid">
  <div class="col-md-3">
    <!--<div class="btn btn-success">Novi Oglas </div>-->
    <button *ngIf="role=='ADMINFAN'" type="button" class="btn btn-info">Postavi rekvizit</button>
    <button type="button" class="btn btn-success" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseNewAdd">Postavi Oglas
    </button>
    <div class="btn btn-primary" (click)="getMyAds()">Aktivni Oglasi</div>
    <br><br><br>
    <div id="collapsenpNewAdd" [ngbCollapse]="!isCollapsed">
      <div class="card">
        <app-create-ad></app-create-ad>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Zvanična prodavnica</b></ng-template>
        <ng-template ngbTabContent>
          <app-new-prop-list></app-new-prop-list>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Oglasi</ng-template>
        <ng-template ngbTabContent>
          <app-used-prop-list></app-used-prop-list>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <div *ngFor="let usedProp of usedProps | async">
    {{ usedProp.title }}}
  </div>



