
<!--
<button (click)="getUsedProp(1)">Preuzmi prvi polovan</button>
<button (click)="getNewProp(1)">Preuzmi prvi novi</button>
<button class="btn btn-primary" (click)="getUsedProps()">Preuzmi sve polovne</button><br>
-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="nav nav-tabs">
      <li class="active"> <a href="/fanpage#newProps">Zvanična prodavnica</a></li>
      <li ><a href="/fanpage#usedProps" data-toggle="tab">Oglasi</a></li>
      <li ><a href="#">Tuga</a></li>
    </div>

  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="btn btn-primary">Novi Oglas </div>
      <div class="btn btn-primary">Aktivni Oglasi</div>
    </div>
    <div class="col-md-4 tab-content">
      <div id="newProps" class="tab-pane active">
        <app-new-prop-list></app-new-prop-list>
      </div>
      <div id="usedProps" class="tab-pane">
        <app-used-prop-list></app-used-prop-list>
      </div>
    </div>
  </div>
  </div>




<div *ngFor="let usedProp of usedProps | async">
 {{ usedProp.title }}}
</div>



