<div class="col-md-2">
  <h4>Meni</h4>
  <a routerLink="/adminfan/new-props-config" class="btn btn-default btn-sm">Tematski rekviziti</a><br>
  <a routerLink="/adminfan/used-props-config" class="btn btn-info btn-sm">Oglasi</a><br>
  <a routerLink="" class="btn btn-default btn-sm">Promena licnih podataka</a><br>
  <a routerLink="" class="btn btn-default btn-sm">Promena lozinke</a>
</div>
<div class="col-md-7">
  <h2 style="display: inline;">Oglasi </h2>
  <hr>
  <div
    href="#"
    class="list-group-item clearfix"
    *ngFor="let usedProp of usedProps">
    <div class="pull-left">
      <a href="/used-prop-detail/{{usedProp.id}}"><h4 class="list-group-item-heading"><b>{{ usedProp.title }}</b></h4>
      </a>
      <p class="list-group-item-text">{{ usedProp.description }}</p>
    </div>
    <span class="pull-right">
         <button type="button" class="btn btn-success" (click)="getBidColl(usedProp.id)">Odobri</button>
        <button class="btn btn-danger" (click)="getBids(usedProp.id)">Odbij</button>
      </span>
    <span class="pull-right">
        <img
          [src]="usedProp.image"
          alt="{{ usedProp.name }}"
          class="img-responsive"
          style="height: 100px; width: 100px;">
      </span>
  </div>
