<head>
  <title>Rezervacija sedista</title>
</head>

<h2 align = "center">Rezervacija sedista </h2>

<div class = "outerCanvas" align = "center">
  <span  align = "center">
      <div class = "outerSeats" align = "center">
           <button *ngFor="let sediste of seats; let i = index" class="seat" 
           [ngStyle]="{'background-color' : backgroundColor}"
            id="{{sediste.id}}"
            (click) = "tolgeButton(sediste.id)">{{i+1}}</button>
             <br><br> 
             {{markReserved()}}     
             <div><b>Platno</b></div>
            
      </div>    
  </span>
</div>

<div align = "center">
  <button (click) = "rezervisi()">
    Rezervisi
  </button>
</div>


<div align = "center">
  <br><br>
  <span>
   <input type="checkbox" [checked]="prozoviPrijatlejeProzor" 
   (change)="prozoviPrijatlejeProzor = !prozoviPrijatlejeProzor" />
   <label>Pozovi prijatelje</label>
  </span>
</div>

<div *ngIf = "prozoviPrijatlejeProzor" align = "center">
<h2>Ovde mozes da pozoves prijatelje</h2>
<div *ngIf = "prijatelji.length === 0">
  <h3>Nemate prijatelja :(</h3>
</div>
</div>

