.outerCanvas {
    border-style: solid;
    border-color: white;
    text-align: center;
    padding-left: 29%;
}

.seat{
    border-style: solid;
    border-color: white;
    height : 40px;
    width : 40px;
}

.outerSeats {
    border-style: solid;
    border-color: black;
    text-align: center;
    max-width:550px;
    padding-left: 30px;
    padding-right: 30px;
    
}

option {
    font-size: 20px;
}

select {
    min-width: 100px;
    min-height: 20px;
}