<div class="col-md-6 col-md-offset-3">
<div align = "center"><h1>Trazi korisnike</h1></div>

<form name="registrationForm" #f="ngForm"  novalidate>
  <div class="form-group">
    <label for = "username">Korisnicko ime </label>
    <input type="text" class="form-control" name="username" ng-model="username" [(ngModel)]="model.username" #username="ngModel"
          required/>
</div>

<div class="form-group">
    <label for = "name">Ime </label>
    <input type="text" class="form-control" name="name" ng-model="name" [(ngModel)]="model.name" #name="ngModel"
          required/>
</div>

<div class="form-group">
    <label for = "surname">Prezime </label>
    <input type="text" class="form-control" name="surname" ng-model="surname" [(ngModel)]="model.surname" #surname="ngModel"
          required/>
</div>

<button class="btn btn-primary" (click)="search()"
[disabled] = "!username.valid && !name.valid && !surname.valid">Trazi</button>
</form>
</div>
