
<div align = "center">
    <h1>Promena lozinke</h1>
  </div>
  <br>
  <form name="passwordChangeForm" #f="ngForm"  novalidate>
  <div align = "center"  style="padding-top: 25px;">
    <table>
      <tr>
        <td align = "top"><h3>Unesi staru lozinku &nbsp;&nbsp; </h3></td>    
        <td align><input type="password" class="form-control" name="oldPassword"
           [(ngModel)]="oldPassword" required/>
           <span *ngIf="oldPasswordWrong" align="bottom" style="color:red">{{wrongPassword}}</span></td> 
       </tr>
       <tr>
          <td align = "top"><h3>Unesi novu lozinku &nbsp;&nbsp; </h3></td>    
          <td align><input type="password" class="form-control" name="newPassword"
             [(ngModel)]="newPassword" required/></td> 
         </tr>
         <tr>
            <td align = "top"><h3>Ponovi novu lozinku &nbsp;&nbsp; </h3></td>    
            <td align><input type="password" class="form-control" name="newPasswordRepeated"
               [(ngModel)]="newPasswordRepeated"required/>
               <span *ngIf="neUklapajuSe" align="bottom" style="color:red">{{porukaNeUklapajuSe}}</span></td>  
           </tr>
       <tr >
         <td align = "center" colspan="2">
           <button class="btn btn-primary" (click)="changePassword()"
           >
             Izmeni</button></td>
       </tr>
  </table>
  </div>
  </form>
