<div class="col-md-2">
  <h4>Meni</h4>
  <a routerLink="/adminfan/new-props-config" class="btn btn-default btn-sm">Tematski rekviziti</a><br>
  <a routerLink="/adminfan/used-props-config" class="btn btn-default btn-sm">Oglasi</a><br>
  <a routerLink="/adminfan/personal-edit" class="btn btn-default btn-sm">Promena licnih podataka</a><br>
  <a routerLink="/adminfan/change-password" class="btn btn-info btn-sm">Promena lozinke</a>
</div>
<div class="col-md-4 col-md-offset-2">
  <h3>Promena lozinke</h3>
  <form>
    <label>Stara lozinka </label>
    <input [(ngModel)]="oldPw" type="password" class="form-control" name="oldPw"
           placeholder="Unesite staru lozinku">
    <label>Nova lozinka </label>
    <input [(ngModel)]="newPw1" type="password" class="form-control" name="newPw1"
           placeholder="Unesite novu lozinku">
    <label>Potvrda nove lozinke </label>
    <input [(ngModel)]="newPw2" type="password" class="form-control" name="newPw2"
           placeholder="Unesite novu lozinku jos jednom">
    <button class="btn btn-warning" (click)="changePassword()">Promeni lozniku</button>
  </form>
</div>


