<div class="col-md-2">
  <h4>Meni</h4>
  <a routerLink="/adminfan/new-props-config" class="btn btn-info btn-sm">Tematski rekviziti</a><br>
  <a routerLink="/adminfan/used-props-config" class="btn btn-default btn-sm">Oglasi</a><br>
  <a routerLink="/adminfan/personal-edit" class="btn btn-default btn-sm">Promena licnih podataka</a><br>
  <a routerLink="/adminfan/change-password" class="btn btn-default btn-sm">Promena lozinke</a>
</div>
<div class="col-md-7">
  <h2 style="display: inline;">Tematski rekviziti </h2>
  <a routerLink="../new-prop" class="btn btn-success pull-right">Postavi novi rekvizit</a>
  <hr>
  <div
    class="list-group-item clearfix"
    *ngFor="let newProp of newProps">
    <div class="pull-left">
      <h4 class="list-group-item-heading"><b>{{ newProp.title }}</b></h4>
      <p class="list-group-item-text">{{ newProp.description }}</p>
      <b>
        <small *ngIf="newProp.user">Rezervisano od strane: {{newProp.user}}</small>
      </b>
      <br>
      <i>
        <small>{{newProp.show}}</small>
      </i>
    </div>
    <span class="pull-right">
        <a class="btn btn-primary" routerLink="../edit-new-prop/{{newProp.id}}">Izmeni</a>
        <button class="btn btn-danger" (click)="deleteNewProp(newProp.id)">Obriši</button>
      </span>
    <span class="pull-right">
        <img
          [src]="newProp.image"
          alt="{{ newProp.name }}"
          class="img-responsive"
          style="height: 100px; width: 100px;">
      </span>
  </div>
</div>
