<div class="col-md-9">
  <div
    href="#"
    class="list-group-item clearfix"
    *ngFor="let usedProp of usedProps">
    <div class="pull-left">
      <h4 class="list-group-item-heading"><b>{{ usedProp.title }}</b></h4>
      <p class="list-group-item-text">{{ usedProp.description }}</p>
      <br><br>
      <i>
        <small>Postavio: <b>{{ usedProp.user }}</b></small>
      </i>
      <p>Licitacija traje do {{ usedProp.activeUntil | date:'d.M.yyyy u H:mm' }}</p>
    </div>
    <span class="pull-right">
         <button *ngIf="usedProp.user != currentUser" type="button" class="btn btn-warning"
                 (click)="getBidColl(usedProp.id)"
                 [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Ostavi Ponudu/Izmeni</button>
        <button class="btn btn-default" (click)="getBids(usedProp.id)">Sve Ponude</button>
        <button *ngIf="usedProp.user == currentUser" class="btn btn-danger"
                (click)="delete(usedProp.id)">Obriši</button>
      </span>
    <span class="pull-right">
        <img
          [src]="usedProp.image"
          alt="{{ usedProp.name }}"
          class="img-responsive"
          style="height: 100px; width: 100px;">
      </span>
  </div>
</div>
<div class="col-md-3">
  <div id="collapseExample" [ngbCollapse]="!isCollapsed">
    <div class="card">
      <div class="card-body">
        <label>Upisite iznos ponude</label>
        <input type="text" class="form-control" id="bid" [(ngModel)]="price">
        <button class="btn btn-primary" (click)="createBid()">Potvrdi</button>
      </div>
    </div>
    <br>
  </div>
  <app-bid-list *ngIf="all" [bids]="bids"></app-bid-list>
</div>


