
<div align = "center">
    <h2>Nova projekcija</h2>
  
    <form #form="ngForm" (ngSubmit)="sendData()">
      <table>
        <tr>
          <td><label> Vreme projekcije (HH:mm): </label> </td>
          <td><input type="text" name="time" [(ngModel)]="time" required pattern="(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]"/> </td>
          
        </tr>
        <tr>
          <td><label> Sala: </label> </td>
          <td>
              <select [(ngModel)] = "selectedAuditoriumId" name="combobox1" required>
                  <option  *ngFor ="let auditorium of auditoriums" value="{{auditorium.id}}">{{auditorium.number}}</option>
                </select>
          </td>
        </tr>
        <tr>
          <td><label> Film: </label> </td>
          <td>
            <select [(ngModel)] = "selectedPlayMovieId" name="combobox2" required>
              <option  *ngFor ="let playMovie of playMovies" value="{{playMovie.id}}">{{playMovie.name}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label> Cena: </label> </td>
          <td><input type="text" name="price" [(ngModel)]="price" required pattern = "[0-9]*"/> </td>
        </tr>
       <tr> <td colspan = "2"><button class = "btn btn success" type="submit" [disabled]="form.invalid">Kreiraj projekciju </button></td></tr>
      </table>
    </form>
  </div>