<form>
  <div class="form-group">
    <label>Naslov</label>
    <input type="text" class="form-control" id="title" placeholder="unesite naslov oglasa">
  </div>
  <div class="form-group">
    <label>Opis</label>
    <textarea class="form-control"  rows="4" id="description" placeholder="unesite opis oglasa"></textarea>
    <label>Slika</label>
    <input type="text" class="form-control" id="image" placeholder="unesite adresu slike (opciono)">
    <label>Datum i vreme</label>
    <input type="text" class="form-control" id="datetime" value="20180129023240" placeholder="unesite adresu slike (opciono)">
  </div>
  <div class="form-check">
    <button class="btn btn-warning">Kreiraj oglas</button>
  </div>

</form>


