<div class="form-group">
  <label>Naslov</label>
  <input [(ngModel)]="usedProp.title" type="text" class="form-control" name="title"
         placeholder="Unesite naslov oglasa">
</div>
<div class="form-group">
  <label>Opis</label>
  <textarea [(ngModel)]="usedProp.description" class="form-control" rows="4" name="description"
            placeholder="Unesite opis oglasa"></textarea>
  <label>Slika</label>
  <input [(ngModel)]="usedProp.image" type="text" class="form-control" name="image"
         placeholder="Unesite adresu slike (opciono)">
  <label>Datum i vreme do kada je oglas aktivan: {{date.year}}-{{date.month}}-{{date.day}} {{time.hour}}:{{time.minute}}</label><br>
  <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
  <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
  <hr>
</div>

<div class="form-check">
  <button class="btn btn-warning" (click)="create()">Kreiraj oglas</button>
</div>






