
table, th , td {
    border: 1px solid grey;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  td{width:200px;}
  
agm-map{
  height: 250px;
  width: 250px;
}