<div id="container" style="width:100%;">                                   
    <div id="left" style="float:left; width:30%;">
      

    </div>  

    <div id="right" style="float:right; width:70%;"> 
      <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Osnovne informacije</b></ng-template>
            <ng-template ngbTabContent>
                <div *ngIf="show!=null">
                    <div>
                        {{show.name}}
                    </div>
                    <div>
                        {{show.address}}
                    </div>
                    <div>
                        <br/>
                        {{show.description}}
                     </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Repertoar</b></ng-template>
            <ng-template ngbTabContent>
                <div align="center" >
                    <div *ngIf ="role == 'ADMINSHOW'">
                      <a routerLink="new-movie">Novi film/predstava</a>
                    </div>
                    <div>
                     <table>
                        <tr>
                            <th>Ime</th>
                            <th>Glumci</th>
                            <th>Zanr</th>
                            <th>Reziser</th>
                            <th>Pocetak</th>
                            <th>Trajanje</th>
                            <th>Prosecna ocena</th>
                            <th>Cena karte</th>
                            <th>Slika</th>
                            <th *ngIf ="role == 'ADMINSHOW'">Izmena</th>
                            <th *ngIf ="role == 'ADMINSHOW'">Brisanje</th>
                        </tr>
                      
                          <tr *ngFor="let playmovie of repertoire">
                            <td>{{playmovie.name}}</td>
                            <td>{{playmovie.actors}}</td>
                            <td>{{playmovie.genre}}</td>
                            <td>{{playmovie.director}}</td>
                            <td>{{playmovie.date}}</td>
                            <td>{{playmovie.duration}}</td>
                            <td><ngb-rating [rate]="playmovie.averageScore"></ngb-rating></td>
                            <td>{{playmovie.price}}</td>
                            <td><img [src] ="playmovie.imageUrl" height="50" width="50"></td>
                            <td *ngIf ="role == 'ADMINSHOW'"><button (click)="edit(playmovie.id)"> Izmeni </button></td>
                            <td *ngIf ="role == 'ADMINSHOW'"><button (click)="remove(playmovie.id, playmovie)"> Obrisi </button></td>
                          </tr>
                      
                      </table>
                    </div>
                  </div>
                  
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Popusti</b></ng-template>
             <ng-template ngbTabContent>
    
             </ng-template>
        </ngb-tab>
    </ngb-tabset></div>                   
  </div>



